<ion-header>
  <ion-toolbar>
    <ion-title color="light" class="text-center">{{Fruit.nom}}</ion-title>
     
    <ion-button class="button">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container containerImg ">
    <div class=" row text">
      <img class="imFruit mt-2" src="{{Fruit.photo}}">
    </div>
  </div>
  
  <div class="">
    <!-- =====================ION-SEGMENT ===================== -->
    <div class="container">
    <ion-segment mode="md" scrollable="true" value="Description" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="Description">
        <ion-label class="label">Description  </ion-label>
      </ion-segment-button>

      <ion-segment-button value="Tutoriel">
        <ion-label class="label">Tutoriel</ion-label>
      </ion-segment-button>

  </ion-segment>
</div>
<!-- =====================Contenu Description ===================== -->
  <div *ngIf="valueSelected == 'Description'">
    <div class="container-fluid contenu mt-2">
      
      <div class="row mt-4 px-2">
        <h2 class="mt-4 text-white" >Description</h2>
        <div class="col-6 ">
         <div class="rectangle1">
          <h5 class="text-center">Récolte</h5>
          <p class="text-center">{{Fruit.dureeFloraisaon}}</p>
         </div>
        </div>
        
        <div class="col-6 ">
          <div class="rectangle1 ">
           <h6 class="text-center">Espacement</h6>
           <p class="text-center">{{Fruit.tutoriels.espacementEntreGraine}}</p>
          </div>
         </div>
         <p class="text">{{Fruit.description}}</p>
      </div>
    </div>
   
  </div>
<!-- =====================Contenu Tutoriel ===================== -->
  <div *ngIf="valueSelected == 'Tutoriel'">
   <div  class="container-fluid  mt-2">
      <div class="row mt-4 px-2">
        
        <h3 class="title fw-bolder">{{Fruit.tutoriels.titre}}</h3>
        <p class="textP">
          {{Fruit.tutoriels.description}}
        </p>
        <div class="fw-bolder list">
          <ul>
            <li>Semis : {{Fruit.tutoriels.semis}}</li>
            <li>Bouture : {{Fruit.tutoriels.bouture}}</li>
            <li>Etat de la terre : {{Fruit.tutoriels.etatDeLaTerre}}</li>
            <li>Floraison : {{Fruit.dureeFloraisaon}}</li>
            <li>Periode normale : {{Fruit.periodeNormal}}</li>
          </ul>
        </div>
      </div>
      
      <div class="container ">
        <div class="row">
         <video  controls src="../../assets/Soutenance/video2.mp4" class="video"></video>
         <h4 class="textImg mx-3">Culture du grenadier</h4>
        </div>
       </div>
   </div>
   
  </div>
  </div>

</ion-content>
