<ion-tabs>


  <ion-tab-bar slot="bottom " class="d-flex justify-content-around">

    <ion-tab-button class="MenuAll">
      <ion-menu-toggle>
        <ion-icon class="menu " name="menu"></ion-icon>
        <ion-label class="textMenu ">Menu</ion-label>
      </ion-menu-toggle>
    </ion-tab-button>


    <ion-tab-button tab="accueil" style="background: #25503F;">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <!-- ==============ngIF cacher profil=============== -->
    <ion-tab-button tab="tab3" *ngIf="isLoggedIn">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>