<ion-tabs>


  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button> -->
  
  <ion-menu-toggle style="margin-left: 2%;" >
    <ion-tab-button >
      <ion-icon class="menu " name="menu" ></ion-icon> 
      <ion-label class="textMenu ">Menu</ion-label>
    </ion-tab-button>
  </ion-menu-toggle>

    <ion-tab-button tab="accueil" class="mx-4" style="background: #25503F;">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
