<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img  ">
    <div class="text text-center mt-2">
      <h1 class="text-white title ">Conseils </h1>
      <p class="p ">Recevez nos meilleurs conseils afin d’anticiper
        les mauvaises surprises dans vos jardins. </p>
    </div>
  </div>
  <!-- =============Listes des conseils=============== -->
  
    <div class="mb-3">
       <ion-row class="row princ ">
      <ion-col size="5" class="img2">
        <img src="../../assets/Soutenance/bgAccueil.png" alt="image de conseil" width="180px" height="60px" style="padding: 0;" class="mt-4 image">
      </ion-col>
      <ion-col size="7" class=" textLeft " >
        <h1 class="title2 mb-1">Titre du Conseil</h1>
        <p class="p2 ">Le lorem ipsum est, en imprimerie, une suite de mots sans</p>
        <a href="" class="mt-0">voir plus</a> 
      </ion-col>
    </ion-row>
    </div>
 

  
    <div class="mb-3">
       <ion-row class="row princ">
      <ion-col size="5" class="img2">
        <img src="../../assets/Soutenance/carotte.jpg" alt="image de conseil" width="180px" height="60px" style="padding: 0;" class="mt-4 image">
      </ion-col>
      <ion-col size="7" class=" textLeft " >
        <h1 class="title2 mb-1">Titre du Conseil</h1>
        <p class="p2 ">Le lorem ipsum est, en imprimerie, une suite de mots sans</p>
        <a href="" class="mt-0">voir plus</a> 
      </ion-col>
    </ion-row>
    </div>
 
    <div class="">
       <ion-row class="row princ">
      <ion-col size="5" class="img2">
        <img src="../../assets/Soutenance/bgAccueil.png" alt="image de conseil" width="180px" height="60px" style="padding: 0;" class="mt-4 image">
      </ion-col>
      <ion-col size="7" class=" textLeft " >
        <h1 class="title2 mb-1">Titre du Conseil</h1>
        <p class="p2 ">Le lorem ipsum est, en imprimerie, une suite de mots sans</p>
        <a href="" class="mt-0">voir plus</a> 
      </ion-col>
    </ion-row>
    </div>
  
</ion-content>
