<ion-header>
  <ion-toolbar>
    <ion-title>Alerte1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid img ">
   
      <h1 class="titlePlanning text-center">Planning</h1>
    
   </div>

   <!-- ===============CONTENU============= -->
  
    <div class="contenu container-fluid">
      <div class="container ">
        <!-- ===============BUTTON============= -->
        <div class="row  mt-4 mb-4">
          <div class="col-4"></div>
          <div class="col-8">
            <ion-button>Planifier une tâche</ion-button>
          </div>
        </div>

        <div class="row margin">
          <div class="col-3 d-flex align-items-center justify-content-center ">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          </div>
          <div class="col-9 tout">
            <h3>8 Octobre 2023</h3>
            <p class="p ">Recevoir une alerte pour arroser vos plantes</p>
            <p class="p P2">Terminée</p>
          </div>
      </div>

      <div class="row margin ">
        <div class="col-3 d-flex align-items-center justify-content-center ">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        </div>
        <div class="col-9 tout">
          <h3>8 Octobre 2023</h3>
          <p class="p ">Recevoir une alerte pour arroser vos plantes</p>
          <p class="p">Terminée</p>
        </div>
    </div>

    <div class="row margin ">
      <div class="col-3 d-flex align-items-center justify-content-center ">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      </div>
      <div class="col-9 tout">
        <h3>8 Octobre 2023</h3>
        <p class="p ">Recevoir une alerte pour arroser vos plantes</p>
        <p class="p">Terminée</p>
      </div>
  </div>
      </div>
    </div>
  


</ion-content>
