<ion-header>
  <ion-toolbar>
    <!-- <ion-title>DetailsConseil</ion-title> -->
    <ion-icon class="button mx-4" (click)="back()" name="arrow-back-outline" style=" display: flex;
      
      align-items: center;
      justify-content: center;color: black;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid containerImg ">
   
      <img class="imFruit mt-2" src="{{Conseil.photo}} ">
   
  </div>
  <div class="container mt-2">
    <div class="row mt-2">
      <h3 class="text-center fw-bolder mt-2">{{Conseil.titre}}</h3>
      <p style="font-size: 15px;">{{Conseil.description}}</p>
    </div>
  </div>
</ion-content>
