<ion-header>
  <ion-toolbar>
    <ion-title>DetailsConseil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid containerImg ">
   
      <img class="imFruit mt-2" src="../../assets/Soutenance/papayer.png ">
   
  </div>
  <div class="container mt-2">
    <div class="row mt-2">
      <h3 class="text-center fw-bolder mt-2">Titre du Conseil</h3>
      <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il</p>
      <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptas rerum harum rem unde quas provident dicta, dolores quisquam exercitationem odio natus tenetur molestias temporibus? Ex,</p>
    </div>
  </div>
</ion-content>
