<ion-header >
  <ion-toolbar>
    <ion-title></ion-title>
    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="container mt-2">
  <div class="img mb-3 containerImg">
    <h1 class="mt-4">Fruits</h1>
  </div>
 </div>
  
  <div class="filtreSearchBar container ">
    <!-- <div class="col-3">
      <div class="filtre ">
        <ion-icon class="icon1 " name="filter-outline" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></ion-icon>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>


       

      </div>
    </div> -->
    <!-- <div class=" searchbar"> -->
      <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
    <!-- </div> -->
  </div>


  <!-- ===============scrollBar==================== -->

  <div class="card">
    <!-- ===============CARD==================== -->

  <ion-row class="mt-2" >
    <ion-col size="6" *ngFor="let Fruit of fruit | filter:searchText">
      <a (click)="goToDetailFruit(Fruit.id)">
      <ion-card>
        <img src="{{Fruit.photo}}" alt="image de fruit" class="img2">
        <div class="card-title mx-2">{{Fruit.nom}}</div>
      </ion-card>
    </a>
    </ion-col>
    
    
  </ion-row>

</div> 
</ion-content>
