<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="Legume && Legume.nom" color="light" class="text-center " style=" display: flex;
   
    align-items: center;
    justify-content: center;">{{Legume.nom}}</ion-title>
     
    <!-- <ion-button class="button"> -->
      <ion-icon class="button mx-4" (click)="back()" name="arrow-back-outline" style=" display: flex;
      
      align-items: center;
      justify-content: center;color: white;"></ion-icon>
    <!-- </ion-button> -->
    
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- ============================================================================= -->




<!-- ============================================================================= -->



  <div class="container containerImg ">
    <div class=" row text">
      <img *ngIf="Legume && Legume.photo" class="imFruit mt-2" src="{{Legume.photo}}" alt="{{Legume.photo}}">
    </div>
  </div>
  
  <div class="">
    <!-- =====================ION-SEGMENT ===================== -->
    <div class="container">
    <ion-segment mode="md" scrollable="true" value="Description" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="Description">
        <ion-label class="label">Description  </ion-label>
      </ion-segment-button>

      <ion-segment-button value="Tutoriel">
        <ion-label class="label">Tutoriel</ion-label>
      </ion-segment-button>

  </ion-segment>
</div>
<!-- =====================Contenu Description ===================== -->
  <div *ngIf="valueSelected == 'Description'">
    <div class="container-fluid contenu mt-2 mb-4">
      
      <div class="row mt-4 px-2">
        <h2 class="mt-4 text-white" >Description</h2>
        <div class="col-6 ">
         <div class="rectangle1">
          <h5 class="text-center">Récolte</h5>
          <p *ngIf="Legume && Legume.dureeFloraisaon" class="text-center">{{Legume.dureeFloraisaon}}</p>
         </div>
        </div>
        
        <div class="col-6 ">
          <div class="rectangle1 ">
           <h6 class="text-center">Espacement</h6>
           <p *ngIf="Legume && Legume.tutoriels.espacementEntreGraine" class="text-center">{{Legume.tutoriels.espacementEntreGraine}}</p>
          </div>
         </div>
         <p class="text " *ngIf="Legume && Legume.description">{{Legume.description}}</p>
      </div>
    </div>
   
  </div>
<!-- =====================Contenu Tutoriel ===================== -->
  <div *ngIf="valueSelected == 'Tutoriel'">
   <!-- <div  class="container-fluid  mt-2">
      <div class="row mt-4 px-2"> -->
        <!-- ==============elle permet de garder l'espace qu'on saisi tectus lors de l'ecriture mm 
          <pre></pre> ================-->
         <!-- <h3 class="title fw-bolder">{{Legume.tutoriels.titre}}</h3>
        <p class="textP mb-4">
          {{Legume.tutoriels.etape1}}
        </p>

        <p class="textP mb-4">
          {{Legume.tutoriels.etape2}}
        </p>

        <p class="textP mb-4">
          {{Legume.tutoriels.etape3}}
        </p>
     
        <div class="fw-bolder list">
          <ul> -->
            <!-- <li>Semis : {{Legume.tutoriels.semis}}</li>
            <li>Bouture : {{Legume.tutoriels.bouture}}</li> -->
            <!-- <li>Etat de la terre : {{Legume.tutoriels.etatDeLaTerre}}</li>
            <li>Floraison : {{Legume.dureeFloraisaon}}</li>
            <li>Periode normale : {{Legume.periodeNormal}}</li>
          </ul>
        </div>
      </div>
      
      <div class="container ">
        <div class="row">
         <video  controls src="http://127.0.0.1/videoSoutenance/{{Legume1.video}}" class="video"></video>
         <h4 class="textImg mx-3">{{Legume1.titre}</h4>
        </div>
       </div>
   </div>  -->
    


   <div class="container-fluid  contenu1 mt-2 mb-4">
      
    <div class="row  m-0  pt-4" style="display: flex;
    justify-content: center;
    align-items: center;">
      <ion-button (click)="goToDetailLegume(Legume.id)"  class="m-0" style="background: #328923;width: 60%; border-radius: 14px; color: white; margin-right: 10px ;">Commencer </ion-button>
    </div>

    <div>
      <div class="row  m-0 mt-4">
        <video *ngIf="Legume1 && Legume1.video"  controls src="http://127.0.0.1/videoSoutenance/{{Legume1.video}}" class="video "></video>
        <h4 *ngIf="Legume1 && Legume1.titre"class="textImg ">{{Legume1.titre}}</h4>
       </div>
    </div>
  </div>

  
   
   

   

   <!-- =======================ION SLIDE======================================== -->


  </div>
  </div>

</ion-content>
