<ion-header>
  
</ion-header>

<ion-content>
  <div class="container">
    <h2 class="fw-bold text-center " style="margin-top: 50px;" >Notifications</h2>
    <p class=" text-center " style="margin-top: 50px;"*ngIf="notification && notification.length == 0" >Pas de notification pour le moment! veuillez creer une tâche</p>
    <div class="row" *ngIf="notification && notification.length > 0">
      <div *ngFor="let Notification of notification" >
        <div class="text-center mb-3" style="background: #E8F2F0; border-radius: 5px; height: 40px;">
          <p style="font-size: 12px; font-weight: bold;"><span style="font-size: 14px;">C'est l'heure de votre tâche:</span> <br> {{Notification.titreNotif}}</p>
          <!-- <span style="background: red;"><p>11h30</p></span> -->
        </div>
      </div>
    </div>
  </div>

</ion-content>
