<ion-header>
  <ion-toolbar >
    <!-- <ion-title></ion-title>
    <ion-back-button  slot="start" defaultHref=""></ion-back-button>
    <div class="icon">
      <ion-icon name="notifications-outline" color="light"></ion-icon>
    <ion-icon name="chatbox-outline" color="light"></ion-icon> -->
    <!-- </div> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img mb-2 fixed-top">
    <div class="text mx-4">
      <h1 class="">Tutoriels </h1>
    <h1 class="">Vidéos</h1>
    </div>
  </div>

<!-- ================SEARCHBAR=================== -->
  <div class="container mb-2">
    <div class="filtreSearchBar row ">
      <div class="col-6">
        <!--div class="filtre ">
          <ion-icon class="icon1 " name="filter-outline" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></ion-icon>
          <-- <ion-icon class="icon2" name="chevron-down-outline"></ion-icon> >
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (ionSelect)="handleSelection($event)">Fruits</a>
            <a class="dropdown-item" (ionSelect)="handleSelection($event)">Legumes </a>
            
          </div>
         

        </div-->
        <!-- +++++++++++++++++++FILTRAGE++++++++++++++++++++++++++++++++++ -->
         <div class="filtre ">
          <!-- <ion-icon class="icon1 " name="filter-outline" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></ion-icon>
           -->
        <select class="form-selec form-selec-md larger" aria-label="filtrer" (change)="cangement()"   name="textFiltree"  [(ngModel)]="textFiltree">
          <label for="" class="text-dark">Filtrer</label>
          <option >Fruit</option>
          <option>Legume</option>
        </select>
        </div>

      </div>
      <div class="col-6 searchbar">
        <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
      </div>
    </div>
  </div>


<div class="card">
  
    <div class="container video">
   <div class="row" *ngFor="let  Video of videoer | filter:searchText">
    <video  controls src="http://127.0.0.1/videoSoutenance/{{Video.video}}" class="img2" autoplay type="video/mp4"></video>
    <h4 class="textImg mx-3">{{Video.titre}}</h4>
   </div>
  </div>

  <!-- <iframe src="/src/assets/Soutenance/video2.mp4" frameborder="0" width="100%" height="315" [frameBorder]="0" allow="accelerometter; autoplay; clipbord-whrite; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->


</div>
  
  
</ion-content>
