<ion-header>
  <ion-toolbar>
    <!-- <ion-title>accueil</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div>

  </div>






<div class="container">
  <ion-grid class="map" fixed="">
    <ion-row class="mt-5">
      <ion-col size="4">
        <div class="photo">
          <!-- <ion-img class="accueil" src="../../assets/Soutenance/jardiniere.png "></ion-img> -->
        </div>
      </ion-col>
      <ion-col size="8">
        <h1 class="bienvenue">Bienvenue</h1>
        <p class="paragrah">dans votre application qui vous
          permet d’avoir un jardin genereux avec des fruits et
          légumes.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- ========legume=============== -->
  <div class="container fruit " routerLink="/tabs/legumes">
    <h1>Catégories</h1>
    <div class="row legume mb-3" style="background: #FBC201;">
      <div class="col-6">
        <div class="photo">
          <ion-img class="imFruit mt-2" src="../../assets/Soutenance/legume.png "></ion-img>
        </div>
      </div>
      <div class="col-6 " style="color: white;">
        <h5>Légumes</h5>
        <P style="font-size: 10px;">
          Apprenez à cultiver vos légumes en adoptant les bonnes pratiques.
        </P>
      </div>
    </div>
  </div>
  <!-- ========fruit=============== -->
  <div class="container fruit " routerLink="/tabs/fruits">
    <div class="row legume mb-3 opacity-42" style="background: #328923;">
      <div class="col-6">
        <div class="photo">
          <ion-img class="imFruit mt-4" src="../../assets/Soutenance/fruit.png "></ion-img>
        </div>
      </div>
      <div class="col-6 " style="color: white;">
        <h5 class="">Fruits</h5>
        <P style="font-size: 10px;">
          Apprenez à cultiver
          vos fruits en adoptant
          les bonnes pratiques.
        </P>
      </div>
    </div>
  </div>
  <!-- ========commentaire=============== -->
  <div class="container fruit " routerLink="/tabs/conseils">
    <div class="row legume mb-3" style="background: #7B6D49;">
      <div class="col-6">
        <div class="photo">
          <ion-img class="imFruit3 mt-3 mx-3" src="../../assets/Soutenance/commentatire.png "></ion-img>
        </div>
      </div>
      <div class="col-6 " style="color: white;">
        <h5>Conseils</h5>
        <P style="font-size: 10px;">
          Apprenez à cultiver
          vos fruits en adoptant
          les bonnes pratiques.
        </P>
      </div>
    </div>
  </div>
</div>




</ion-content>