* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,700&display=swap%27');
    font-family: 'Poppins', sans-serif;
}



.map{
    width: 100%;
    height: 200px;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/Soutenance/2.png);
    background-size: cover;
}

.bienvenue{
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.paragrah{
    font-size: .5rem;
    color: #fff;
    font-weight: 200;
}
.fruitContainer{
    
//     margin-left: 2px;
//     margin-right: 2px;
// 
}

.accueil{
    width: 200%;
    height: 200%;
}
.legume{
    border-radius: 15px;
}
.fruit{
    margin-left: auto;
    margin-right: auto;
}
.imFruit{
    width: 123%;
    height: 123%;
}
.imFruit3{
    width: 90%;
    height: 90%;
}

// .photo{
//     --background: url(../../assets/Soutenance/accueil.png) 0 0/100% 100% no-repeat;
//     width: 10%;
//     height: 5%;
// }